.App {
  text-align: center;
}

.books_countaner{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  margin: 0 auto;
  gap: 5px;

}
.books_countaner2{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin: 0 auto;
  gap: 5px;
  margin-top: 10px;
}
.card{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 80%;
  margin: 0 auto;
  padding-top: 35px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.info{
  width: 80%;
  margin: 0 auto;
  height: 90px;
  background-color: rgb(255, 238, 238);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  text-align: center;
  /* padding: 2px; */
}
.right{
  margin-top: 40px;
  padding: 10px;
  background-color:rgb(255, 238, 238);
}
.bookInput{
  width: 80%;
  height: 30px;
  margin-top: 10px;
  border: none;
  border-bottom: 1px solid #000;
  background-color:transparent;
  /* margin: 0 auto; */
}
.bookBtn{
  margin-top: 10px;
  background-color: blue;
  border: none;
  width: 100px;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}